/* CSS Variables */
:root {
	--black: rgba(0,0,0,1);
	--gray: rgba(50,50,50,1);
	--green: rgba(0, 204, 0, 1);
	--white: rgba(255,255,255,1);
}


/* General Styles */
* {
	font-family: 'Press Start 2P', cursive;
}

body {
    text-align: center;
}

/* Game Stats*/
#game-stats {
	position: absolute;
	width: 505px;
	background: var(--black);
	color: var(--green);
	top: 0px;
	left: calc(50% - 252.5px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#high-score {
	width: 30%;
}

#score {
	width: 30%;
}

#lives {
	width: 30%;
}

#lives > img {
	width: 35px;
}


/* Panel Styles*/
.panel {
	position: absolute;
	left: calc(50% - 210px);
	top: 100px;
	padding: 10px;
	width: 400px;
	height: 450px;
	background: var(--black);
	color: var(--green);
	box-shadow: 5px 5px 10px var(--gray);
}

.closed {
	display: none;
}


/* Character Styles */
#characters {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#characters > div {
	width: 100px;
	height: 100px;
	overflow: hidden;
	background-position: 50% 70%;
	background-color: var(--white);
	margin: 10px;
	cursor: pointer;
}

#characters > div:hover {
	background-color: var(--green);
}

#char-boy {
	background: url(../images/char-boy.png);
}

#char-cat-girl {
	background: url(../images/char-cat-girl.png);
}

#char-horn-girl {
	background: url(../images/char-horn-girl.png);
}

#char-pink-girl {
	background: url(../images/char-pink-girl.png);
}

#char-princess-girl {
	background: url(../images/char-princess-girl.png);
}


/* Rule Styles */
#rules-click {
	cursor: pointer;
}

#rules-close {
	float: right;
	cursor: pointer;
}


/* Game Over Styles */
.game-over {
	cursor: pointer;
}

#game-over-text {
	font-size: 60px;
}

#trophy {
	font-size: 40px;
}


/* Winner Styles */
.winner-initials {
	color: yellow;
}

#initials {
	color: red;
}

.high-score-saved {
	color: blue;
}

#final-stats {
	color: var(--white);
}

#play-again {
	cursor: pointer;
}


